{% extends 'books/base.html' %}
{% load static %}

  {% block exlinks %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
  {% endblock %}

  {% block content %}
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-md-4"></div>
        <div class="col-md-4 box">
          <div class="row">
            <div class="col-sm-12 text-center my-3">
              <p class="heading">Password changed succesfuly</p>
            </div>
            <div class="col-sm-12 text-center">
              <p class="text"><a href="{%url 'books:me'%}">Go Back</a> to user page</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">

            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  {% endblock %}
