<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Password Reset</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap" rel="stylesheet">
        {% load static %}
        <link rel = "icon" href ="{% static 'books/manybook.png' %}" type = "image/x-icon">
        <style media="screen">
            .navbar{
              background-color:  #007cc4;
            }
            .navbar-brand{
              color: #fff;
              font-size: 3em;
              font-family: 'Amatic SC', cursive;
              letter-spacing: 3px;
              text-align: left;
            }
            .navbar-brand:hover{
              color: #fff;
            }
            .box{
                border: 1px solid #ddd;
                padding: 20px;
                margin-top: 50px;
                border-radius: 3px;
            }
            .heading{
                font-size: 1.6em;
            }
            .text{
                font-size: .9em;
                font-weight: 500;
                color: #444;
            }
            .submit{
                color: #007cc4;
                background-color: #fff;
                border: 1px solid #007cc4;
            }
            .submit:hover{
                color:#fff;
                background-color: #007cc4;
                box-shadow: 0 0 5px 1px #555;
            }
            .err{
              color:red;
            }
            .formcontrol{
                border: none;
                border-bottom: 1px solid grey;
                width:100%;
            }
            .focused{
              border-bottom: 2px solid #007cc4;
            }
        </style>
        <script type="text/javascript">
        var currentlyBlurred;
        $(document).ready(function(){
            $(".itemToBeFocused").focus(function () {
                    var inputfields = $('.itemToBeFocused');
                    for(i=0;i<inputfields.len;i++){
                      inputfields[i].removeClass('focused');
                    }
                    currentlyBlurred = $(':focus');
                    $(currentlyBlurred).addClass('focused');
                })
            $(".itemToBeFocused").blur(function () {
                    $(currentlyBlurred).removeClass('focused');
                })
        var popupInterval;
        function clearpopup(){
          clearInterval(popupInterval);
          $('.bookadded').fadeOut();
        }
        {% if result %}
        popupInterval = setInterval(clearpopup,3000);
        $('.bookadded').fadeIn(1000);
        {% endif %}
        });
        </script>
    </head>
    <body>
        <div class="navbar">
          <div class="col-md-2"></div>
          <div class="col-sm-12 col-md-8">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-11">
                <a href="{% url 'books:home' %}" class="navbar-brand py-3">ManyBooks</a>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 box">

                    <div class="row">
                        <div class="col-sm-12">
                            {% load widget_tweaks %}
                            {% if validlink %}
                            <form class="" method="post">
                                {% csrf_token %}
                                <div class="row my-4">
                                    <div class="col-sm-12 text-center">
                                        <p class="heading" >Confirm New Password</p>
                                    </div>

                                </div>

                                <div class="form-group row my-4">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            {% render_field form.new_password1 class+="formcontrol itemToBeFocused" placeholder='Password' %}
                                            {% if form.new_password1.errors %}
                                              {% for err in form.new_password1.errors %}
                                                <small id='emailhelp' class="form-text err">{{ err }}</small>
                                              {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>

                                <div class="form-group row my-4">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            {% render_field form.new_password2 class+="formcontrol itemToBeFocused" placeholder='Confirm Password' %}
                                            {% if form.new_password2.errors %}
                                              {% for err in form.new_password2.errors %}
                                                <small id='emailhelp' class="form-text err">{{ err }}</small>
                                              {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                                <div class="row my-4">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">
                                        <input type="submit" class="btn submit form-control" name="" value="Change Password">
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                            </form>
                            {% else %}
                            <div class="col-sm-12 text-center">
                                <p class="linkexpired" >Ooops...</p>
                                <p class="linkexpired" >Link Expired</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </body>
</html>
