{% extends 'books/base.html' %}
{% load static %}

      {% block exlinks %}
      <link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
      {% endblock %}

      {% block css %}
      .heading {
        font-size:1.7em;
        color:#555;
      }
      .btncolor{
        border: 1px solid grey;
        color: grey;
      }
      .btncolor:hover{
        color:white;
        background-color: grey;
      }
      {% endblock %}

      {% block content %}

            <div class="row" style="padding-top:30vh;padding-bottom:30vh;">
                <div class="col-md-4"></div>
                <div class="col-md-4 box">
                    <div class="row p-2">

                        <div class="col-sm-12 my-3 text-center">
                            <p class="heading">Change Password</p>
                        </div>
                        <div class="col-sm-12">
                            {% load widget_tweaks %}
                            <form class="" method="post">
                                {% csrf_token %}
                                <div class="form-group row forminput my-4">
                                  <label for="id_username" class="col-sm-4 col-form-label">Old Password</label>
                                  <div class="col-sm-8">
                                    <div class="row">
                                      {% render_field form.old_password class+="form-control" %}
                                    </div>
                                      <div class="row">
                                        {% if form.old_password.errors %}
                                          {% for err in form.old_password.errors %}
                                            <p class='alter err'>{{ err }}</p>
                                          {% endfor %}
                                        {% endif %}
                                      </div>
                                  </div>
                                </div>

                                <div class="form-group row forminput my-4">
                                  <label for="id_username" class="col-sm-4 col-form-label">New Password</label>
                                  <div class="col-sm-8">
                                    <div class="row">
                                      {% render_field form.new_password1 class+="form-control" %}
                                    </div>
                                      <div class="row">
                                        {% if form.new_password1.errors %}
                                          {% for err in form.new_password1.errors %}
                                            <p class='alter err'>{{ err }}</p>
                                          {% endfor %}
                                        {% endif %}
                                      </div>
                                  </div>
                                </div>

                                <div class="form-group row forminput my-4">
                                  <label for="id_username" class="col-sm-4 col-form-label">Confirm Password</label>
                                  <div class="col-sm-8">
                                    <div class="row">
                                      {% render_field form.new_password2 class+="form-control" %}
                                    </div>
                                      <div class="row">
                                        {% if form.new_password2.errors %}
                                          {% for err in form.new_password2.errors %}
                                            <p class='alter err'>{{ err }}</p>
                                          {% endfor %}
                                        {% endif %}
                                      </div>
                                  </div>
                                </div>

                                <div class="row my-4">
                                  <div class="col-sm-3"></div>
                                  <div class="col-sm-6">
                                    <input type="submit" class="btn btncolor form-control" name="" value="Change Password">
                                  </div>
                                  <div class="col-sm-3"></div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
      {% endblock %}
