{% extends 'books/base.html' %}
{% load widget_tweaks %}
{% load static %}
        {% block extra %}
        <title>Update</title>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet">


        {% endblock %}

        {% block css %}
          .log{
            margin-top: 50px;
            box-shadow: 0 0 10px 3px #aaa;
            border: 1px solid #eee;
          }
          .forminput{
            margin-top: 30px;
            margin-bottom: 30px;
          }
          .btncolor{
            background-color:  #fff;
            color: #00FA9A;
            border: 1px solid #00FA9A;
          }
          .btncolor:hover{
            box-shadow: 0 0 5px 1px #555;
            background-color: #00FA9A;
            color:#fff;
          }
          .alter{
            font-size: small;
          }
          .err{
            color:red;
          }
          #mainform input{
              color: #555;
          }
          button{
              color: #555;
          }
          .reg{
            margin-top: 50px;
            box-shadow: 0 0 10px 3px #aaa;
            border: 1px solid #eee;
          }
          .altlink{
              color: #00f;
          }
          {% endblock %}

      {% block content %}
      {% block js %}

      {% endblock %}
      <div style="height:5px;width:100%;">

      </div>
      <div class="row login my-4 mx-2" id="update">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-8 col-sm-10 log py-5">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center" style="color:#555;">{{request.user.username|title}}</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-10 col-md-10">


                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="row mt-4">
                        <!-- <div class="text-center"> -->
                          <img src="{% if user.userpic %}{{user.userpic.url}}{%else%}{% static 'books/nouser.jpeg' %}{% endif %}" alt="" height="128px" width="128px" class="rounded mx-auto d-block">
                        <!-- </div> -->
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pl-5">
                      <div class="form-group forminput row">
                        <label for="id_username" class="col-sm-2 col-form-label"><i class="material-icons">person</i></label>
                        <div class="col-sm-9">
                          <div class="row">
                            {{ form.username }}
                          </div>
                          <div class="row">
                            {% if form.username.errors %}
                              {% for err in form.username.errors %}
                                <small id='emailhelp' class="form-text err">{{ err }}</small>
                              {% endfor %}
                            {% endif %}
                          </div>
                        </div>
                      </div>

                      <div class="form-group forminput row">
                        <label for="id_username" class="col-sm-2 col-form-label"><i class="material-icons">local_post_office</i></label>
                        <div class="col-sm-9">
                          <div class="row">
                            {{ form.email }}
                          </div>
                          <div class="row">
                            {% if form.email.errors %}
                              {% for err in form.email.errors %}
                                <small id='emailhelp' class="form-text err">{{ err }}</small>
                              {% endfor %}
                            {% endif %}
                          </div>
                        </div>
                      </div>
                      <div class="form-group forminput row">
                        <label for="id_username" class="col-sm-2 col-form-label"><i class="material-icons">today</i></label>
                        <div class="col-sm-9">
                          <div class="row">
                            {% render_field form.dob class="form-control datepicker" placeholder='' %}
                          </div>
                          <div class="row">
                            {% if form.dob.errors %}
                              {% for err in form.dob.errors %}
                                <small id='emailhelp' class="form-text err">{{ err }}</small>
                              {% endfor %}
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <div class="form-group forminput">
                      <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-5"></div>
                        <div class="col-sm-3">
                          <button id="updateprofile" onclick="" class="btn form-control btncolor" style="color:#555;">Edit Profile</button>
                        </div>
                      </div>
                    </div>

            </div>
            <div class="col-sm-1 col-md-1"></div>
          </div>
        </div>
        <div class="col-sm-2 col-md-1"></div>
      </div>

    {% endblock %}
