<!DOCTYPE html>
<html lang="en">
<head>
<title>ManyBooks</title>
{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="ManyBook">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap-4.1.2/bootstrap.min.css' %}">
<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


{% block exlinks %}

{% endblock %}
<script type="text/javascript">
	{% block js %}
	{% endblock %}
	function togglediv(){
		$('.userpopup').toggleClass('showdiv');
	}
</script>
<style media="screen">
{% block css %}
{% endblock %}
.userpopup{
	z-index: 500;
	display: none;
	position: fixed;
	top: 78px;
	right: 3vw;
	width: 12vw;
	background-color: #fff;
	color: #555;
	box-shadow: 0 0 3px 1px #999;
	border-radius: 4px;
}
.showdiv{
	display:block;
}
.item:hover{
	color: #fff;
	background-color: #555;
}
.logout{
	color:red;
}
.logout:hover{
	color: #fff;
	background-color: red;
}
.userpopup ul{
	list-style: none;
	margin: 10px 0;
}
.userpopup ul li{
	padding: 5px 10px;
	cursor: pointer;
	border-bottom: 1px solid #ececec;
	font-size: 1.2em;
}
.userpopup ul li:last-child{
	border-bottom: none;
}
.imgcircle{
	display:block;
	border-radius: 15%;
}

</style>
</head>
<body>

{% block extra %}
{% endblock %}

<div class="userpopup">
	<ul>
		{% if request.user.is_authenticated %}
		<li class="item" onclick="location.href='{% url 'account:update' %}'">Profile</li>
		<li class="item" onclick="location.href='{% url 'password_change' %}'">Change Password</li>
		<li class="logout" onclick="location.href='{% url 'account:logout' %}'">Logout</li>
		{% else %}
		<li class="item" onclick="location.href='{% url 'account:register' %}'">Sign Up</li>
		<li class="item" onclick="location.href='{% url 'login' %}?next={{request.path}}'">Sign In</li>
		{% endif %}
	</ul>
</div>

<!-- Menu -->

<div class="menu">
	<div class="menu_nav">
		<ul>
			<li  style="font-family: 'Roboto', sans-serif;"
					 {% if bookshelfActive %}
							class="active"
					 {% endif %}><a {% if auth %}
					 href="{% url 'books:bookshelf' %}"
					 {% else %}
					 href="{% url 'account:login' %}"
					 {% endif %}>Bookshelf</a></li>
			<li style="font-family: 'Roboto', sans-serif;"
					 {% if uploadActive %}
							class="active"
					 {% endif %}>
					 <a {% if auth %}
							href="{% url 'books:uploadslist' %}"
					 {% else %}
							href="{% url 'account:login' %}"
					 {% endif %}>Uploads</a></li>
			<li style="font-family: 'Roboto', sans-serif;"
					 {% if downloadActive %}
							class="active"
					 {% endif %}><a {% if auth %}
					 href="{% url 'books:downloadlist' %}"
					 {% else %}
					 href="{% url 'account:login' %}"
					 {% endif %}>Downloads</a></li>
		</ul>
	</div>
</div>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="header_overlay"></div>
		<div class="row">
			<div class="col-sm-1">
				<div class="header_content d-flex flex-row align-items-center justify-content-start">
					<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
				</div>
			</div>
			<div class="col-sm-11">
				<div class="header_content d-flex flex-row align-items-center justify-content-start">
					<div class="logo">
						<a href="{% url 'books:home' %}">
							<div class="d-flex flex-row align-items-center justify-content-start">

								<div>ManyBooks</div>
							</div>
						</a>
					</div>

					<nav class="main_nav active">
						<ul id='mainnav' class="d-flex flex-row align-items-start justify-content-start">
							<li  style="font-family: 'Roboto', sans-serif;"
									 {% if bookshelfActive %}
											class="active"
									 {% endif %}><a {% if auth %}
									 href="{% url 'books:bookshelf' %}"
								   {% else %}
									 href="{% url 'account:login' %}"
								   {% endif %}>Bookshelf</a></li>
							<li style="font-family: 'Roboto', sans-serif;"
									 {% if uploadActive %}
											class="active"
									 {% endif %}>
									 <a {% if auth %}
											href="{% url 'books:uploadslist' %}"
								   {% else %}
											href="{% url 'account:login' %}"
								   {% endif %}>Uploads</a></li>
							<li style="font-family: 'Roboto', sans-serif;"
									 {% if downloadActive %}
											class="active"
									 {% endif %}><a {% if auth %}
									 href="{% url 'books:downloadlist' %}"
								   {% else %}
									 href="{% url 'account:login' %}"
								   {% endif %}>Downloads</a></li>
						</ul>
					</nav>
					<div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
						<!-- Search -->
						{% if search %}
						<div class="header_search">
							<form action="{% url 'books:search' %}" id="header_search_form" method="get">
								<input name="search" id="search"  type="text" class="search_input" placeholder="Search for books" required="required">
								<button class="header_search_button"><img src="{% static 'images/search.png' %}" alt=""></button>
							</form>
						</div>
						{% endif %}
						<!-- User -->
						<div style="padding-right:10px;">
							<p style="color:#333;">{{request.user.username|title}}</p>
						</div>
						<div class="user">
							<a onclick="togglediv()">
								<div>
									<img id='userpic'  height='26px' width="26px" class="imgcircle" src="{% if request.user.is_authenticated %}
																							{% if request.user.userpic %}
																								{{user.userpic.url}}
																							{% else %}
																								{% static 'images/user.svg' %}
																							{% endif %}
																							{% else %}
																								{% static 'images/user.svg' %}
																							{% endif %}">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>


	</header>

	<div class="super_container_inner">
		<div class="super_overlay"></div>

        {% block content %}
        {% endblock %}

        <!-- Footer -->

        <footer class="footer">

            <div class="footer_bar">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="footer_bar_content d-flex flex-md-row flex-column align-items-center justify-content-start">
                                <div class="copyright order-md-1 order-2"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>

    <!-- <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script> -->
    <script src="{% static 'styles/bootstrap-4.1.2/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap-4.1.2/bootstrap.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js" crossorigin="anonymous"></script>
    <script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
    <script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
    <script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
    <script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
    <script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
    <script src="{% static 'plugins/easing/easing.js' %}"></script>
    <script src="{% static 'plugins/progressbar/progressbar.min.js' %}"></script>
    <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>
