{% extends 'books/base.html' %}
{% load static %}

{% block exlinks %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
{% endblock %}

		{% block extra %}
		<div id="popupok">
			<div class="row">
			  <div class="col-sm-2">
				<i class="material-icons icon">library_add</i>
			  </div>
			  <div class="col-sm-10 text-center">
				Book Added
			  </div>
			</div>
		</div>
		<div id="popuperr">
			<div class="row">
			  <div class="col-sm-2">
				<i class="material-icons icon">block</i>
			  </div>
			  <div class="col-sm-10 text-center">
				Some Error Occured
			  </div>
			</div>
		</div>
		<div id="popuppre">
			<div class="row">
			  <div class="col-sm-2">
				<i class="material-icons icon">report</i>
			  </div>
			  <div class="col-sm-10 text-center">
				Book Already Added
			  </div>
			</div>
		</div>
		{% endblock %}

		{% block js %}
		var urla;
		var responsea;
		var requesta;
		var popupInterval;
		var ida;
		function clearpopup(){
		  clearInterval(popupInterval);
		  $(ida).fadeOut();
		}


		function addtoshelf(url){
			requesta = new XMLHttpRequest();
			requesta.onload = function(){
				console.log(requesta.response);
				responsea = JSON.parse(requesta.response);
				if( responsea['status'] == 'ok'){
					ida = '#popupok';
				}
				if( responsea['status'] == 'err'){
					ida = '#popuperr';
				}
				if( responsea['status'] == 'pre'){
					ida = '#popuppre';
				}
				popupInterval = setInterval(clearpopup,3000);
				console.log(ida);
				$(ida).fadeIn();
			}
			requesta.open('GET',url,true);
			console.log('got it');
			requesta.send()
		}

		function openInNewTab(url) {
			var win = window.open(url, '_blank');
			win.focus();
		}

		function downloaded(isbn,file){
			var downloadurl = '{% url 'books:downloaded' %}?isbn='+isbn;
			console.log("in function");
			var downloadRequest = new XMLHttpRequest();
			downloadRequest.open('GET',downloadurl,true);
			downloadRequest.onload=openInNewTab(file);
			downloadRequest.send();
		}

		let midheight = window.innerHeight/2;

		window.addEventListener('scroll',function(){
			//console.log(window.scrollY);
			//console.log(window.innerHeight);
			if(window.scrollY > midheight){
				$('#backToTop').fadeIn();
			}
			if(window.scrollY < midheight){
				$('#backToTop').fadeOut();
			}
		});
		function backtotop(){
			document.getElementById('maindiv').scrollIntoView();
		}

		{% endblock %}

		{% block css %}
		.button1 {
				  background-color: #00FA9A;
				  position:fixed;
				  bottom: 20px;
				  right : 20px;
				  border: none;
				  border-radius: 60%;
				  color: white;
				  padding: 20px;
				  text-align: center;
				  text-decoration: none;
				  display: inline-block;
				  font-size: 16px;
				  margin: 4px 2px;
				  z-index: 500;
				  cursor: pointer;
				}
		.button1:hover{
			box-shadow: 0 0 3px 2px #aaa;
		}
		#popupok{
			display:none;
			position: fixed;
			right: 50px;
			top:100px;
			border-radius: 2px;
			border: 1px solid #aaa;
			box-shadow: 0 0 3px 1px #999;
			height:85px;
			width: 240px;
			padding: 30px;
			background-color: #fff;
			color:black;
			z-index:500;
		}
		#popuppre{
			display:none;
			position: fixed;
			right: 50px;
			top:100px;
			border-radius: 2px;
			border: 1px solid #aaa;
			box-shadow: 0 0 3px 1px #999;
			height:85px;
			width: 300px;
			padding: 30px;
			background-color: #fff;
			color:black;
			z-index:500;
		}
		#popuperr{
			display:none;
			position: fixed;
			right: 50px;
			top:100px;
			border-radius: 2px;
			border: 1px solid #aaa;
			box-shadow: 0 0 3px 1px #999;
			height:85px;
			width: 300px;
			padding: 30px;
			background-color: #fff;
			color:black;
			z-index:500;
		}
		.icon{
		  font-size:1.6em;
		}
		.showpopup{
			display: block;
			z-index: 150;
		}
		.quote{
			color:#fff;
			font-size:2.6em;
			font-weight:350;
		}
		.quote-author{
			color:#ddd;
			font-size:1.8em;
			font-weight:450;
			padding-left: 30px;
		}
		.backToTop{
			position:fixed;
			bottom:50px;
			right:50px;
			background-color: #000;
			z-index: 100;
			color: #fff;
			height: 50px;
			width:50px;
			border:none;
			border-radius:50%;
			text-align:center;
			cursor:pointer;
			display:none;
		}
		.backToTop:hover{
			box-shadow: 0 0 5px 2px #555;
		}
		{% endblock %}

		{% block content %}

		<div class="backToTop" id="backToTop" title="Back To Top" onclick="backtotop();">
			<i class="material-icons" style="font-size: 40px; padding-top:4px;">keyboard_arrow_up</i>
		</div>

		<div class="row" id="maindiv" style="height:100px;"></div>
		<div class="row">
			<div style="background-image: url('https://manybooks.net/sites/default/files/2018-07/bookdisplaysmall.jpg');
						background-position: center;
			  			background-repeat: no-repeat;
			  			background-size: cover;height:50vh;" class="col-sm-12">

						<div class="row" style="margin-top:20vh;">
							<div class="col-sm-12 text-center">
								<p class="quote">So many books, so little time.</p>
							</div>
							<div class="col-sm-12 text-center">
								<p class="quote-author">― Frank Zappa</p>
							</div>
						</div>

			</div>
		</div>

		<div class="products">
			<div class="container">

				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="section_title text-center">Newest Arrivals</div>
					</div>
				</div>
				<!-- <div class="row" style="height:30px;"></div> -->

				<div class="row products_row">

					{% for book in new %}
					<!-- Product -->
					<div class="col-xl-2 col-md-2 col-xs-6 col-sm-6">
						<div class="product">
							<div class="product_image">
								{% if book.cover %}
								<img src="{{book.cover.url}}" alt="" height="220vh" width="530">
								{% else %}
								<img src="{% static 'books/nocover.jpeg' %}" alt="" height="220vh" width="530">
								{% endif %}
							</div>
							<div class="product_content">
								<div style="padding:5px;" class="product_info d-flex flex-row align-items-start justify-content-start">
									<div>
										<div>
											<div class="product_name" title="{{book.title|title}}"><a style="font-size:.95em;" href="{% url 'books:bookview' %}?isbn={{book.isbn}}">{{book.title|title|truncatechars:20}}</a></div>
											<div title="{{book.author|title}}" style="font-size:0.85em;" class="product_category">By {{book.author|title|truncatechars:20}}</div>
											<div style="font-size:0.85em;" class="product_category">{{book.views}} views</div>
										</div>
									</div>

								</div>
								<div class="product_buttons" style="height:30px;">
									<div class="text-right d-flex flex-row align-items-start justify-content-start">
										<div title="Add to Bookshelf" {% if auth %}
										onclick="addtoshelf('{% url "books:addtoshelf" %}?isbn={{book.isbn}}');"
										{% else %}
										onclick="location.href='{% url 'account:login' %}'"
										{% endif %}
										class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"><img src="{% static 'images/heart_2.svg' %}" class="svg" alt=""></div></div>
										</div>
										<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
											<div><div title="Download" style="margin-top:15px;"> <a {% if auth %}
														    onclick="downloaded('{{book.isbn}}','{{book.file.url}}')"
														  {% else %}
														  	href="{% url 'account:login' %}"
														  {% endif %}><img src="{% static 'images/download.svg' %}" class="svg" alt=""></a></div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="products">
			<div class="container">
				<!-- <div class="row" style="height:40px;"></div> -->
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="section_title text-center">Popular Books</div>
					</div>
				</div>
				<!-- <div class="row" style="height:30px;"></div> -->

				<div class="row products_row">

					{% for book in mostviewed %}
					<!-- Product -->
					<div class="col-xl-2 col-md-2 col-xs-6 col-sm-6">
						<div class="product">
							<div class="product_image">
								{% if book.cover %}
								<img src="{{book.cover.url}}" alt="" height="220vh" width="530">
								{% else %}
								<img src="{% static 'books/nocover.jpeg' %}" alt="" height="220vh" width="530">
								{% endif %}
							</div>
							<div class="product_content">
								<div style="padding:5px;" class="product_info d-flex flex-row align-items-start justify-content-start">
									<div>
										<div>
											<div class="product_name" title="{{book.title|title}}"><a style="font-size:.95em;" href="{% url 'books:bookview' %}?isbn={{book.isbn}}">{{book.title|title|truncatechars:20}}</a></div>
											<div title="{{book.author|title}}" style="font-size:0.85em;" class="product_category">By {{book.author|title|truncatechars:20}}</div>
											<div style="font-size:0.85em;" class="product_category">{{book.views}} views</div>
										</div>
									</div>

								</div>
								<div class="product_buttons" style="height:30px;">
									<div class="text-right d-flex flex-row align-items-start justify-content-start">
										<div title="Add to Bookshelf" {% if auth %}
										onclick="addtoshelf('{% url "books:addtoshelf" %}?isbn={{book.isbn}}');"
										{% else %}
										onclick="location.href='{% url 'account:login' %}'"
										{% endif %}
										class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"><img src="{% static 'images/heart_2.svg' %}" class="svg" alt=""></div></div>
										</div>
										<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"> <a title="Download" {% if auth %}
														    onclick="downloaded('{{book.isbn}}','{{book.file.url}}')"
														  {% else %}
														  	href="{% url 'account:login' %}"
														  {% endif %}><img src="{% static 'images/download.svg' %}" class="svg" alt=""></a></div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<!-- genres -->

		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="section_title text-center" style="text-size:1.8em;">Browse by Genre</div>
				</div>
				<div class="row" style="height:20px;"></div>
			</div>
			<div class="col-sm-12">
					<div class="row">
						<div style="cursor: pointer" class="col-sm-3 px-3 py-3" onclick="location.href='{% url 'books:catview' %}?cat=Fantasy'">
							<img src="{% static 'books/fantasy.jpg'%}" class="img-responsive" width="200em" alt="">
						</div>
						<div style="cursor: pointer" class="col-sm-3 px-3 py-3" onclick="location.href='{% url 'books:catview' %}?cat='+'Science fiction';">
							<img src="{% static 'books/scifi.jpg'%}" class="img-responsive" width="200em" alt="">
						</div>
						<div style="cursor: pointer" class="col-sm-3 px-3 py-3" onclick="location.href='{% url 'books:catview' %}?cat=Western'">
							<img src="{% static 'books/western.jpg'%}" class="img-responsive" width="200em" alt="">
						</div>
						<div style="cursor: pointer" class="col-sm-3 px-3 py-3" onclick="location.href='{% url 'books:catview' %}?cat=Romance'">
							<img src="{% static 'books/romance.jpg'%}" class="img-responsive" width="200em" alt="">
						</div>
						<div style="cursor: pointer" class="col-sm-3 px-3 py-3" onclick="location.href='{% url 'books:catview' %}?cat=Thriller'">
							<img src="{% static 'books/thriller.jpg'%}" class="img-responsive" width="200em" alt="">
						</div>
						<div style="cursor: pointer" class="col-sm-3 px-3 py-3" onclick="location.href='{% url 'books:catview' %}?cat=Mystery'">
							<img src="{% static 'books/mystery.jpg'%}" class="img-responsive" width="200em" alt="">
						</div>
						<div style="cursor: pointer" class="col-sm-3 px-3 py-3" onclick="location.href='{% url 'books:catview' %}?cat=Detective story'">
							<img src="{% static 'books/detective.jpg'%}" class="img-responsive" width="200em" alt="">
						</div>
						<div style="cursor: pointer" class="col-sm-3 px-3 py-3" onclick="location.href='{% url 'books:catview' %}?cat=Dystopia'">
							<img src="{% static 'books/Dystopia.jpg'%}" class="img-responsive" width="200em" alt="">
						</div>
					</div>
			</div>
		</div>

		<div class="row" style="height:30px;">

		</div>

		<!-- most viewed in Romance -->

		<!-- <div class="products">
			<div class="container">
				<div class="row" style="height:40px;"></div>
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="section_title text-center">Popular in Romance</div>
					</div>
				</div>
				<div class="row" style="height:30px;"></div>

				<div class="row products_row">

					{% for book in romance %}

					<div class="col-xl-2 col-md-2 col-xs-6 col-sm-6">
						<div class="product">
							<div class="product_image">
								{% if book.cover %}
								<img src="{{book.cover.url}}" alt="" height="220vh" width="530">
								{% else %}
								<img src="{% static 'books/nocover.jpeg' %}" alt="" height="220vh" width="530">
								{% endif %}
							</div>
							<div class="product_content">
								<div style="padding:5px;" class="product_info d-flex flex-row align-items-start justify-content-start">
									<div>
										<div>
											<div class="product_name" title="{{book.title|title}}"><a style="font-size:.95em;" href="{% url 'books:bookview' %}?isbn={{book.isbn}}">{{book.title|title|truncatechars:20}}</a></div>
											<div title="{{book.author|title}}" style="font-size:0.85em;" class="product_category">By {{book.author|title|truncatechars:20}}</div>
											<div style="font-size:0.85em;" class="product_category">{{book.views}} views</div>
										</div>
									</div>

								</div>
								<div class="product_buttons" style="height:30px;">
									<div class="text-right d-flex flex-row align-items-start justify-content-start">
										<div title="Add to Bookshelf" {% if auth %}
										onclick="addtoshelf('{% url "books:addtoshelf" %}?isbn={{book.isbn}}');"
										{% else %}
										onclick="location.href='{% url 'account:login' %}'"
										{% endif %}
										class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"><img src="{% static 'images/heart_2.svg' %}" class="svg" alt=""></div></div>
										</div>
										<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"> <a title="Download" {% if auth %}
														    onclick="downloaded({{book.isbn}},'{{book.file.url}}')"
														  {% else %}
														  	href="{% url 'account:login' %}"
														  {% endif %}><img src="{% static 'images/download.svg' %}" class="svg" alt=""></a></div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>



		<div class="products">
			<div class="container">
				<div class="row" style="height:20px;"></div>
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="section_title text-center">Popular in Fantasy</div>
					</div>
				</div>
				<div class="row" style="height:30px;"></div>

				<div class="row products_row">

					{% for book in fantacy %}

					<div class="col-xl-2 col-md-2 col-xs-6 col-sm-6">
						<div class="product">
							<div class="product_image">
								{% if book.cover %}
								<img src="{{book.cover.url}}" alt="" height="220vh" width="530">
								{% else %}
								<img src="{% static 'books/nocover.jpeg' %}" alt="" height="220vh" width="530">
								{% endif %}
							</div>
							<div class="product_content">
								<div style="padding:5px;" class="p style="height:30px;"roduct_info d-flex flex-row align-items-start justify-content-start">
									<div>
										<div>
											<div class="product_name" title="{{book.title|title}}"><a style="font-size:.95em;" href="{% url 'books:bookview' %}?isbn={{book.isbn}}">{{book.title|title|truncatechars:20}}</a></div>
											<div title="{{book.author|title}}" style="font-size:0.85em;" class="product_category">By {{book.author|title|truncatechars:20}}</div>
											<div style="font-size:0.85em;" class="product_category">{{book.views}} views</div>
										</div>
									</div>

								</div>
								<div class="product_buttons" style="height:30px;">
									<div class="text-right d-flex flex-row align-items-start justify-content-start">
										<div title="Add to Bookshelf" {% if auth %}
										onclick="addtoshelf('{% url "books:addtoshelf" %}?isbn={{book.isbn}}');"
										{% else %}
										onclick="location.href='{% url 'account:login' %}'"
										{% endif %}
										class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"><img src="{% static 'images/heart_2.svg' %}" class="svg" alt=""></div></div>
										</div>
										<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"> <a title="Download" {% if auth %}
														    onclick="downloaded({{book.isbn}},'{{book.file.url}}')"
														  {% else %}
														  	href="{% url 'account:login' %}"
														  {% endif %}><img src="{% static 'images/download.svg' %}" class="svg" alt=""></a></div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>



		<div class="products">
			<div class="container">
				<div class="row" style="height:20px;"></div>
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="section_title text-center">Popular in Science Fiction</div>
					</div>
				</div>
				<div class="row" style="height:30px;"></div>

				<div class="row products_row">

					{% for book in scifi %}

					<div class="col-xl-2 col-md-2 col-xs-6 col-sm-6">
						<div class="product">
							<div class="product_image">
								{% if book.cover %}
								<img src="{{book.cover.url}}" alt="" height="220vh" width="530">
								{% else %}
								<img src="{% static 'books/nocover.jpeg' %}" alt="" height="220vh" width="530">
								{% endif %}
							</div>
							<div class="product_content">
								<div style="padding:5px;" class="product_info d-flex flex-row align-items-start justify-content-start">
									<div>
										<div>
											<div class="product_name" title="{{book.title|title}}"><a style="font-size:.95em;" href="{% url 'books:bookview' %}?isbn={{book.isbn}}">{{book.title|title|truncatechars:20}}</a></div>
											<div title="{{book.author|title}}" style="font-size:0.85em;" class="product_category">By {{book.author|title|truncatechars:20}}</div>
											<div style="font-size:0.85em;" class="product_category">{{book.views}} views</div>
										</div>
									</div>

								</div>
								<div class="product_buttons" style="height:30px;">
									<div class="text-right d-flex flex-row align-items-start justify-content-start">
										<div title="Add to Bookshelf" {% if auth %}
										onclick="addtoshelf('{% url "books:addtoshelf" %}?isbn={{book.isbn}}');"
										{% else %}
										onclick="location.href='{% url 'account:login' %}'"
										{% endif %}
										class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"><img src="{% static 'images/heart_2.svg' %}" class="svg" alt=""></div></div>
										</div>
										<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"> <a title="Download" {% if auth %}
														    onclick="downloaded({{book.isbn}},'{{book.file.url}}')"
														  {% else %}
														  	href="{% url 'account:login' %}"
														  {% endif %}><img src="{% static 'images/download.svg' %}" class="svg" alt=""></a></div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>



		<div class="products">
			<div class="container">
				<div class="row" style="height:20px;"></div>
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="section_title text-center">Popular in Western</div>
					</div>
				</div>
				<div class="row" style="height:30px;"></div>

				<div class="row products_row">

					{% for book in western %}

					<div class="col-xl-2 col-md-2 col-xs-6 col-sm-6">
						<div class="product">
							<div class="product_image">
								{% if book.cover %}
								<img src="{{book.cover.url}}" alt="" height="220vh" width="530">
								{% else %}
								<img src="{% static 'books/nocover.jpeg' %}" alt="" height="220vh" width="530">
								{% endif %}
							</div>
							<div class="product_content">
								<div style="padding:5px;" class="product_info d-flex flex-row align-items-start justify-content-start">
									<div>
										<div>
											<div class="product_name" title="{{book.title|title}}"><a style="font-size:.95em;" href="{% url 'books:bookview' %}?isbn={{book.isbn}}">{{book.title|title|truncatechars:20}}</a></div>
											<div title="{{book.author|title}}" style="font-size:0.85em;" class="product_category">By {{book.author|title|truncatechars:20}}</div>
											<div style="font-size:0.85em;" class="product_category">{{book.views}} views</div>
										</div>
									</div>

								</div>
								<div class="product_buttons" style="height:30px;">
									<div class="text-right d-flex flex-row align-items-start justify-content-start">
										<div title="Add to Bookshelf" {% if auth %}
										onclick="addtoshelf('{% url "books:addtoshelf" %}?isbn={{book.isbn}}');"
										{% else %}
										onclick="location.href='{% url 'account:login' %}'"
										{% endif %}
										class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"><img src="{% static 'images/heart_2.svg' %}" class="svg" alt=""></div></div>
										</div>
										<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"> <a title="Download" {% if auth %}
														    onclick="downloaded({{book.isbn}},'{{book.file.url}}')"
														  {% else %}
														  	href="{% url 'account:login' %}"
														  {% endif %}><img src="{% static 'images/download.svg' %}" class="svg" alt=""></a></div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>



		<div class="products">
			<div class="container">
				<div class="row" style="height:20px;"></div>
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="section_title text-center">Popular in Thriller</div>
					</div>
				</div>
				<div class="row" style="height:30px;"></div>

				<div class="row products_row">

					{% for book in thriller %}

					<div class="col-xl-2 col-md-2 col-xs-6 col-sm-6">
						<div class="product">
							<div class="product_image">
								{% if book.cover %}
								<img src="{{book.cover.url}}" alt="" height="220vh" width="530">
								{% else %}
								<img src="{% static 'books/nocover.jpeg' %}" alt="" height="220vh" width="530">
								{% endif %}
							</div>
							<div class="product_content">
								<div style="padding:5px;" class="product_info d-flex flex-row align-items-start justify-content-start">
									<div>
										<div>
											<div class="product_name" title="{{book.title|title}}"><a style="font-size:.95em;" href="{% url 'books:bookview' %}?isbn={{book.isbn}}">{{book.title|title|truncatechars:20}}</a></div>
											<div title="{{book.author|title}}" style="font-size:0.85em;" class="product_category">By {{book.author|title|truncatechars:20}}</div>
											<div style="font-size:0.85em;" class="product_category">{{book.views}} views</div>
										</div>
									</div>

								</div>
								<div class="product_buttons" style="height:30px;">
									<div class="text-right d-flex flex-row align-items-start justify-content-start">
										<div title="Add to Bookshelf" {% if auth %}
										onclick="addtoshelf('{% url "books:addtoshelf" %}?isbn={{book.isbn}}');"
										{% else %}
										onclick="location.href='{% url 'account:login' %}'"
										{% endif %}
										class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"><img src="{% static 'images/heart_2.svg' %}" class="svg" alt=""></div></div>
										</div>
										<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"> <a title="Download" {% if auth %}
														    onclick="downloaded({{book.isbn}},'{{book.file.url}}')"
														  {% else %}
														  	href="{% url 'account:login' %}"
														  {% endif %}><img src="{% static 'images/download.svg' %}" class="svg" alt=""></a></div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>



		<div class="products">
			<div class="container">
				<div class="row" style="height:20px;"></div>
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="section_title text-center">Popular in Mystery</div>
					</div>
				</div>
				<div class="row" style="height:30px;"></div>

				<div class="row products_row">

					{% for book in mystery %}

					<div class="col-xl-2 col-md-2 col-xs-6 col-sm-6">
						<div class="product">
							<div class="product_image">
								{% if book.cover %}
								<img src="{{book.cover.url}}" alt="" height="220vh" width="530">
								{% else %}
								<img src="{% static 'books/nocover.jpeg' %}" alt="" height="220vh" width="530">
								{% endif %}
							</div>
							<div class="product_content">
								<div style="padding:5px;" class="product_info d-flex flex-row align-items-start justify-content-start">
									<div>
										<div>
											<div class="product_name" title="{{book.title|title}}"><a style="font-size:.95em;" href="{% url 'books:bookview' %}?isbn={{book.isbn}}">{{book.title|title|truncatechars:20}}</a></div>
											<div title="{{book.author|title}}" style="font-size:0.85em;" class="product_category">By {{book.author|title|truncatechars:20}}</div>
											<div style="font-size:0.85em;" class="product_category">{{book.views}} views</div>
										</div>
									</div>

								</div>
								<div class="product_buttons" style="height:30px;">
									<div class="text-right d-flex flex-row align-items-start justify-content-start">
										<div title="Add to Bookshelf" {% if auth %}
										onclick="addtoshelf('{% url "books:addtoshelf" %}?isbn={{book.isbn}}');"
										{% else %}
										onclick="location.href='{% url 'account:login' %}'"
										{% endif %}
										class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"><img src="{% static 'images/heart_2.svg' %}" class="svg" alt=""></div></div>
										</div>
										<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"> <a title="Download" {% if auth %}
														    onclick="downloaded({{book.isbn}},'{{book.file.url}}')"
														  {% else %}
														  	href="{% url 'account:login' %}"
														  {% endif %}><img src="{% static 'images/download.svg' %}" class="svg" alt=""></a></div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>



		<div class="products">
			<div class="container">
				<div class="row" style="height:20px;"></div>
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="section_title text-center">Popular in Detective Story</div>
					</div>
				</div>
				<div class="row" style="height:30px;"></div>

				<div class="row products_row">

					{% for book in detective %}

					<div class="col-xl-2 col-md-2 col-xs-6 col-sm-6">
						<div class="product">
							<div class="product_image">
								{% if book.cover %}
								<img src="{{book.cover.url}}" alt="" height="220vh" width="530">
								{% else %}
								<img src="{% static 'books/nocover.jpeg' %}" alt="" height="220vh" width="530">
								{% endif %}
							</div>
							<div class="product_content">
								<div style="padding:5px;" class="product_info d-flex flex-row align-items-start justify-content-start">
									<div>
										<div>
											<div class="product_name" title="{{book.title|title}}"><a style="font-size:.95em;" href="{% url 'books:bookview' %}?isbn={{book.isbn}}">{{book.title|title|truncatechars:20}}</a></div>
											<div title="{{book.author|title}}" style="font-size:0.85em;" class="product_category">By {{book.author|title|truncatechars:20}}</div>
											<div style="font-size:0.85em;" class="product_category">{{book.views}} views</div>
										</div>
									</div>

								</div>
								<div class="product_buttons" style="height:30px;">
									<div class="text-right d-flex flex-row align-items-start justify-content-start">
										<div title="Add to Bookshelf" {% if auth %}
										onclick="addtoshelf('{% url "books:addtoshelf" %}?isbn={{book.isbn}}');"
										{% else %}
										onclick="location.href='{% url 'account:login' %}'"
										{% endif %}
										class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"><img src="{% static 'images/heart_2.svg' %}" class="svg" alt=""></div></div>
										</div>
										<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"> <a title="Download" {% if auth %}
														    onclick="downloaded({{book.isbn}},'{{book.file.url}}')"
														  {% else %}
														  	href="{% url 'account:login' %}"
														  {% endif %}><img src="{% static 'images/download.svg' %}" class="svg" alt=""></a></div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>



		<div class="products">
			<div class="container">
				<div class="row" style="height:20px;"></div>
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="section_title text-center">Popular in Dystopia</div>
					</div>
				</div>
				<div class="row" style="height:30px;"></div>

				<div class="row products_row">

					{% for book in dystopia %}

					<div class="col-xl-2 col-md-2 col-xs-6 col-sm-6">
						<div class="product">
							<div class="product_image">
								{% if book.cover %}
								<img src="{{book.cover.url}}" alt="" height="220vh" width="530">
								{% else %}
								<img src="{% static 'books/nocover.jpeg' %}" alt="" height="220vh" width="530">
								{% endif %}
							</div>
							<div class="product_content">
								<div style="padding:5px;" class="product_info d-flex flex-row align-items-start justify-content-start">
									<div>
										<div>
											<div class="product_name" title="{{book.title|title}}"><a style="font-size:.95em;" href="{% url 'books:bookview' %}?isbn={{book.isbn}}">{{book.title|title|truncatechars:20}}</a></div>
											<div title="{{book.author|title}}" style="font-size:0.85em;" class="product_category">By {{book.author|title|truncatechars:20}}</div>
											<div style="font-size:0.85em;" class="product_category">{{book.views}} views</div>
										</div>
									</div>

								</div>
								<div class="product_buttons" style="height:30px;">
									<div class="text-right d-flex flex-row align-items-start justify-content-start">
										<div title="Add to Bookshelf" {% if auth %}
										onclick="addtoshelf('{% url "books:addtoshelf" %}?isbn={{book.isbn}}');"
										{% else %}
										onclick="location.href='{% url 'account:login' %}'"
										{% endif %}
										class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"><img src="{% static 'images/heart_2.svg' %}" class="svg" alt=""></div></div>
										</div>
										<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
											<div><div style="margin-top:15px;"><a title="Download" {% if auth %}
														    onclick="downloaded({{book.isbn}},'{{book.file.url}}')"
														  {% else %}
														  	href="{% url 'account:login' %}"
														  {% endif %}><img src="{% static 'images/download.svg' %}" class="svg" alt=""></a> </div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div> -->

		{% endblock %}
