{% extends 'books/base.html' %}
{% load static %}

{% block exlinks %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/cart.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap-4.1.2/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap-4.1.2/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}

{% block js %}

$(document).ready(function(){

	$('#uploadbook').mouseenter(function(){
		$('#uploadbook').animate({
			width:'68px',
			height:'68px'
		},100)
	})
	$('#uploadbook').mouseleave(function(){
		$('#uploadbook').animate({
			width:'64px',
			height:'64px'
		},150)
	})

});

var popupid,
		popupInterval;

function openInNewTab(url) {
	var win = window.open(url, '_blank');
	win.focus();
}

function downloaded(isbn,file){
	var downloadurl = '{% url 'books:downloaded' %}?isbn='+isbn;
	var downloadRequest = new XMLHttpRequest();
	downloadRequest.open('GET',downloadurl,true);
	downloadRequest.onload=openInNewTab(file);
	downloadRequest.send();
}
function clearpopup(){
	clearInterval(popupInterval);
	$(popupid).fadeOut();
}
function addtoshelf(isbn){
	var addToShelfUrl = '{% url 'books:addtoshelf' %}?isbn='+isbn;
	var addToShelfRequest = new XMLHttpRequest();
	addToShelfRequest.open('GET',addToShelfUrl,true);
	addToShelfRequest.onload=function(){
		addToShelfResponse = JSON.parse(addToShelfRequest.response);
		if( addToShelfResponse['status'] == 'ok'){
			popupid = '#popupok';
		}
		if( addToShelfResponse['status'] == 'err'){
			popupid = '#popuperr';
		}
		if( addToShelfResponse['status'] == 'pre'){
			popupid = '#popuppre';
		}
		popupInterval = setInterval(clearpopup,3000);
		console.log(popupid);
		$(popupid).fadeIn();
	};
	addToShelfRequest.send();
}
{% endblock %}

{% block extra %}
<div id="popupok">
	<div class="row">
		<div class="col-sm-2">
		<i class="material-icons icon">library_add</i>
		</div>
		<div class="col-sm-10 text-center">
		Book Added
		</div>
	</div>
</div>
<div id="popuperr">
	<div class="row">
		<div class="col-sm-2">
		<i class="material-icons icon">block</i>
		</div>
		<div class="col-sm-10 text-center">
		Some Error Occured
		</div>
	</div>
</div>
<div id="popuppre">
	<div class="row">
		<div class="col-sm-2">
		<i class="material-icons icon">report</i>
		</div>
		<div class="col-sm-10 text-center">
		Book Already Added
		</div>
	</div>
</div>
{% endblock %}

{% block css %}
#popupok{
	display:none;
	position: fixed;
	right: 50px;
	top:100px;
	border-radius: 2px;
	border: 1px solid #aaa;
	box-shadow: 0 0 3px 1px #999;
	height:85px;
	width: 240px;
	padding: 30px;
	background-color: #fff;
	color:black;
	z-index:500;
}
#popuppre{
	display:none;
	position: fixed;
	right: 50px;
	top:100px;
	border-radius: 2px;
	border: 1px solid #aaa;
	box-shadow: 0 0 3px 1px #999;
	height:85px;
	width: 300px;
	padding: 30px;
	background-color: #fff;
	color:black;
	z-index:500;
}
#popuperr{
	display:none;
	position: fixed;
	right: 50px;
	top:100px;
	border-radius: 2px;
	border: 1px solid #aaa;
	box-shadow: 0 0 3px 1px #999;
	height:85px;
	width: 300px;
	padding: 30px;
	background-color: #fff;
	color:black;
	z-index:500;
}
.uploadbook{
	pointer:cursor;
	position: fixed;
	bottom:50px;
	right:50px;
	z-index: 200;
}
.icon{
	font-size:1.6em;
}
.showpopup{
	display: block;
	z-index: 150;
}
#uploadbutton{
	border:none;
	padding: 7px 12px;
	border-radius: 5px;
	margin-right: 40px;
	margin-top: 8px;
	background-color: #555;
	color: #fff;
	display:block;
}
{% endblock %}

{% block content %}
		<!-- Home -->
		<div class="home">
			<div class="home_container d-flex flex-column align-items-center justify-content-end">
				<div class="home_content text-center">
					<div class="home_title">{{cat}} by {{request.user.username|title}}</div>
				</div>
			</div>
		</div>
		<!-- Cart -->
		<div class="cart_section" style="padding-bottom:30px;">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="cart_container">
							<!-- Cart Items -->
							<div class="cart_items">
								<ul class="cart_items_list">
									{% if upload %}
										<li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
											<div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
												<div class="product_name_container">
													<div class="product_name"><a href="{% url 'books:bookview' %}?isbn={{book.isbn}}">Total Uploads by you : {{length}}</a></div>
												</div>
											</div>
											<button type="button" name="button" id="uploadbutton" onclick="location.href='{% url 'books:addbook' %}';">Upload Ebook</button>
										</li>
									{% endif %}
									<!-- Cart Item -->
									{% for book in books %}
									<li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
										<div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
											<div><div class="product_image"><img height="96px" width="72px" src="{% if book.cover %}{{book.cover.url}}{% else %}{% static 'books/nocover.jpeg' %}{% endif %}" alt=""></div></div>
											<div class="product_name_container">
												<div class="product_name"><a href="{% url 'books:bookview' %}?isbn={{book.isbn}}">{{book.title}}</a></div>
												<div class="product_text">{{book.author}}</div>
											</div>
										</div>
										<div class="product_color product_text" style="width:150px">ISBN : {{book.isbn}}</div>
										<div class="product_size product_text"></div>
										<div class="product_image"><img onclick="addtoshelf('{{book.isbn}}')" src='{% static 'images/add2.png' %}'class='img' style="vertical-align: middle; margin-top:25px; cursor:pointer;" ></div>
										<div class="product_image"><img height="32px" width='32px' onclick="openInNewTab('{% url 'books:pdfviewer' %}?isbn={{book.isbn}}')" src='{% static 'images/read2.png' %}'class='img' style="vertical-align: middle; margin-top:25px; cursor:pointer;" ></div>
										<div class="product_image"><img onclick="downloaded('{{book.isbn}}','{{book.file.url}}')" src='{% static 'images/download2.png' %}'class='img' style="vertical-align: middle; margin-top:25px; cursor:pointer;" ></div>
									</li>
									{% endfor %}
									{% for book in booksdown %}
									<li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
										<div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
											<div><div class="product_image"><img height="96px" width="72px" src="{% if book.book.cover %}{{book.book.cover.url}}{% else %}{% static 'books/nocover.jpeg' %}{% endif %}" alt=""></div></div>
											<div class="product_name_container">
												<div class="product_name"><a href="{% url 'books:bookview' %}?isbn={{book.book.isbn}}">{{book.book.title}}</a></div>
												<div class="product_text">{{book.book.author}}</div>
											</div>
										</div>
										<div class="product_color product_text" style="width:150px">ISBN : {{book.book.isbn}}</div>
										<div class="product_size product_text"></div>
										<div class="product_image"><img addtoshelf('{{book.book.isbn}}') src='{% static 'images/add2.png' %}'class='img' style="vertical-align: middle; margin-top:25px; cursor:pointer;" ></div>
										<div class="product_image"><img height="32px" width='32px' onclick=" openInNewTab('{% url 'books:pdfviewer' %}?isbn={{book.book.isbn}}')" src='{% static 'images/read2.png' %}'class='img' style="vertical-align: middle; margin-top:25px; cursor:pointer;" ></div>
										<div class="product_image"><img onclick="downloaded('{{book.book.isbn}}','{{book.book.file.url}}')" src='{% static 'images/download2.png' %}'class='img' style="vertical-align: middle; margin-top:25px; cursor:pointer;" ></div>
									</li>
									{% endfor %}
								</ul>
								{% if upload %}
								<div class="pagination mt-5 row">
										<div class="col-sm-4">
											<div class = "btn-group">
												{% if books.has_previous %}
													<a href='?page=1' type = "button" class = "btn btn-default">First</a>
													<a href='?page={{books.previous_page_number}}' type = "button" class = "btn btn-default">Previous</a>
												{% endif %}
											</div>
										</div>
										<div class="col-sm-4">
											<div class="text-center">
												Page {{ books.number }} of {{ books.paginator.num_pages }}.
											</div>
										</div>
										<div class="col-sm-4 float-right">
											<div class = "btn-group float-right">
												{% if books.has_next %}
													<a href='?page={{books.next_page_number}}' type = "button" class = "btn btn-default">Next</a>
													<a href='?page={{books.paginator.num_pages}}' type = "button" class = "btn btn-default">Last</a>
												{% endif %}
											</div>
										</div>
								</div>
								{% else %}
								<div class="pagination mt-5 row">
										<div class="col-sm-4">
											<div class = "btn-group">
											    {% if booksdown.has_previous %}
													<a href='?page=1' type = "button" class = "btn btn-default">First</a>
													<a href='?page={{booksdown.previous_page_number}}' type = "button" class = "btn btn-default">Previous</a>
												{% endif %}
											</div>
										</div>
										<div class="col-sm-4">
											<div class="text-center">
												Page {{ booksdown.number }} of {{ booksdown.paginator.num_pages }}.
											</div>
										</div>
										<div class="col-sm-4 float-right">
											<div class = "btn-group float-right">
												{% if booksdown.has_next %}
													<a href='?page={{booksdown.next_page_number}}' type = "button" class = "btn btn-default">Next</a>
													<a href='?page={{booksdown.paginator.num_pages}}' type = "button" class = "btn btn-default">Last</a>
												{% endif %}
											</div>
										</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
